@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700&amp;subset=latin-ext,vietnamese";


@font-face {
    font-family: VinylOT;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar-Bold.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar-Bold.woff) format("truetype")
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.ttf) format("truetype");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.ttf) format("truetype");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.ttf) format("truetype");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar.ttf) format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar-Bold.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar-Bold.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSansMyanmar-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: RobotoCondensedBoldItalic;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/RobotoCondensed-BoldItalic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/RobotoCondensed-BoldItalic.ttf) format("truetype");
    font-weight: 500
}

@font-face {
    font-family: VinylOT;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-BoldItalic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-BoldItalic.woff) format("truetype")
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans.ttf) format("truetype");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-Italic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-Italic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-Italic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-Italic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-Italic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-Italic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-Italic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-Bold.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-BoldItalic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/NotoSans-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Thin.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: VinylOT;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/RobotoCondensed-BoldItalic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/RobotoCondensed-BoldItalic.ttf) format("truetype");
    font-weight: 500
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Light.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Bold.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Regular.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Regular.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Regular.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-ThinItalic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-ThinItalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Medium.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Thin.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-BoldItalic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: VinylOT;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/RobotoCondensed-BoldItalic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/RobotoCondensed-BoldItalic.ttf) format("truetype");
    font-weight: 500
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Light.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-MediumItalic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Bold.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Regular.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Italic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-LightItalic.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/extra/Roboto-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: VinylOT;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/t-26_-_vinylot-oblique.otf), url(https://www.vespa.com/docroot/1.22.5/fonts/t-26_-_vinylot-oblique.eot?iefix) format("eot"), url(https://www.vespa.com/docroot/1.22.5/fonts/t-26_-_vinylot-oblique.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/t-26_-_vinylot-oblique.ttf) format("truetype"), url(https://www.vespa.com/docroot/1.22.5/fonts/t-26_-_vinylot-oblique.svg#svgFontName) format("svg");
    font-weight: 500
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/Montserrat-Light.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/Montserrat-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: light
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/Montserrat-Bold.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/Montserrat-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: bold
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/Montserrat-Regular.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/Montserrat-Regular.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(https://www.vespa.com/docroot/1.22.5/fonts/Montserrat-Thin.woff) format("woff"), url(https://www.vespa.com/docroot/1.22.5/fonts/Montserrat-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal
}

body {
    margin: 10px 30px 0 30px;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

/*-------------navbar-----------------*/
nav {
    background: #6dcdb1;
    width: 100%;
    height: 73px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    justify-content: space-around;
}

.logo-nav {
    height: 41px;
}

.menu-icon {
    background: #57b498;
    padding: 5px;
    border: 1px solid #419a80;
    width: 12px;
    height: 10px;
}

.nav-left {
    margin:0 50px 0 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-left span {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: bolder;
    font-size: .75em;
}

.nav-middle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-middle a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12.5px;
}
.nav-right{
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px 0 100px;
}
.nav-right .search {
    width: 17px;
}

.nav-right .map {
    width: 10px;
}

.nav-right .phone {
    width: 13.5px;
}

/* -----------image slider---------*/

.img-slider {
    position: relative;
    width: 100vw;
    height: 400px;
}

.img-slider .slider-container {
    position: absolute;
    width: 300%;
    height: 80vh;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: slider 26s infinite;
}

.img-slider .slider-container .slide {
    position: relative;
    width: 33.33333333%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.img-slider .slider-container .slide img {
    display: block;
    width: 1289px;
    height: 100%
}

.img-slider .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;

}


@keyframes slider {

    0%,
    25%,
    100% {
        left: 0
    }

    30%,
    55% {
        left: -100%
    }

    60%,
    85% {
        left: -200%
    }
}

/*----------image-collage----------*/
.image-collage {
    margin: 9.4rem 0 4rem 0;
    width: 1306px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.banner-1 {
    width: 630px;
    grid-row: 1/3;
    grid-column: 1/2;
}

.banner-2 {
    width: 97%;
    grid-row: 1/2;
    grid-column: 2/3;
}

.banner-3 {
    width: 97%;
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: 13px;
}

.discover h1 {
    color: #40b4e5;
    font-size: 3.57143em;
    text-transform: uppercase;
    text-align: center;
    font-family: VinylOT, sans-serif;
    margin-bottom: .5rem;
}

.discover .model {
    font-size: 1.14286em;
    text-align: center;
    text-transform: uppercase;
    display: block;
    color: #333;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

.scooter-images {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr .5fr;
    height: 250px;
    margin-left: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.scooter-images .scooter {
    width: 182px;
}

.discover .scooter-names {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr .5fr;
    justify-items: center;
    color: #333;
    font-size: 1.14286em;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 8.8px;
}


.footer {
    width: 700px;
    height: auto;
    padding: 70px 0;
    margin-left: 19rem;

}

footer img {
    width: 150px;
    padding-left: 250px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}


.footer-col ul li a {
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.hr-line1 {
    width: 100%;
    height: 2px;
    margin-bottom: 1rem;
    background-color: rgb(150, 148, 148);

}

.child {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.child img {
    padding: 20px;
}

.hr-line2 {
    width: 100%;
    height: 2px;
    margin-top: 1rem;
    background-color: rgb(150, 148, 148);
}

.privacy {
    padding: 50px;
    text-align: center;
    color: #666;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-decoration: underline;
}